.bm-item {
  display: inline-block;

  /* sidebar item styling */
  text-decoration: none;
  margin-bottom: 15px;
  color: white;
  transition: color 0.2s;

  &:hover {
    color: black;
  }
}

/* styling of burger button */

.bm-burger-button {
  @media only screen and (min-width: 746px) {
    display: none;
  }
  position: absolute;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 30px;
}

/* color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* color/shape of close button cross */
.bm-cross {
  background: white;
}

/* general sidebar styles */
.bm-menu {
  background: #07223f;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

#burger-earning-button {
  margin: 0;
}
