.messages-container {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.large-message-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  h1 {
    color: #082340;
    font-family: "Bebas Neue";
    font-size: 80px;
  }

  .orange-colored {
    color: #ff5e00;
  }

  img {
    max-height: 58px;
    max-width: 58px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.small-message-container {
  color: #838383;
  p {
    font-family: "ClanPro", sans-serif;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
}
