.messages-container {
  margin-left: auto;
  margin-right: auto;
  //width: 40em;
}

.large-message-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 60px;

  h1 {
    color: #082340;
    font-family: "Bebas Neue";
    font-size: 80px;
    margin: 0px;
    letter-spacing: 2px;
  }

  .orange-colored {
    color: #ff5e00;
  }

  img {
    max-height: 58px;
    max-width: 58px;
    position: absolute;
    padding-right: 60px;
    padding-bottom: 20px;
    bottom: 0;
    right: 0;
  }
}

.small-message-container {
  color: #838383;
  p {
    font-family: "ClanPro", sans-serif;
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}
