.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #07223f;
  height: auto;

  @media only screen and (min-width: 746px) {
    justify-content: space-between;
    background-color: white;
  }

  .logo-container {
    height: 100%;
    padding: 20px;
  }
}
